.mapa {
    width: 100vw;
    height: calc(100vh - 60px);
    margin: 0;
    padding: 0;
    float: left;
    top: 0;
    left: 0;
    z-index: 1;
}

.panel {
    top: 2em;
    left: 2em;
    position: relative;
    float: left;
    z-index: 2;
}
